*, *::before, *::after {
    /* Base-config */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* defining color variables */
    --base: #555;
    --base-100: #f1f1f1;
}

body {
    /* font stuff */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

header {
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.5);

    .logo-holder {
        display: flex;
        padding: 10;
        align-items: center;
        font-weight: 600;
        color: black;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            color: whitesmoke;
            background-color: black;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .logo-text {
            flex: 1;
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;

            li {
                display: inline-block;

                a{
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);

                    &:hover {
                        background-color: var(--base-100);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }
            }
        }

        .mobile-toggle {
            display: none;
            color: black;
            padding: 10px;

            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;

        nav {
            margin-top: 10px;
            width: 100%;

            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}