*,
*::before,
*::after {
    /* Base-config */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* defining color variables */
    --white-100: #f5eee6;
    --black-050: #0c0c0c;
    --black-100: #141414;
    --black-200: #1c1c1c;
    --black-500: #282828;
    --orange-100: #fe8019;
    --orange-400: #d66b12;
    --aqua-100: #689d6a;
    --blue-100: #458588;
    --blue-400: #346467;
    --yellow-100: #d79921;
    --cream-100: #ebdbb2;
    --cream-200: #ccbe9a;
    --cream-400: #b2a585;
    --opct-white-200: #f5eee633;
    --opct-white-500: #f5eee580;
    --opct-white-700: #f5eee5b3;
}

body {
    background: linear-gradient(0deg, var(--black-500), var(--black-200));
    height: 820px;
}

a {
    text-decoration: none;
}

header {
    padding-right: 10px;
    padding-bottom: -10px;
    display: flex;
    justify-content: space-between;
    margin: 35px auto;
    width: 70%;
    height: 56px;
    max-width: 1100px;
    backdrop-filter: blur(3px);
    background: radial-gradient(at 50% 0%, #ffffff08, #ffffff0d);
    /* background: radial-gradient(at 50% 0%, #00000039, #00000056); */
    border-radius: 5px 50px 50px 5px;
    /* border: 1px solid var(--opct-white-200); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 38px;
        color: var(--white-100);
        background-color: var(--black-050);
        height: 68px;
        width: 68px;
        border-radius: 50%;
        font-family: "Silkscreen";
        margin-left: -30px;
        margin-top: -6px;

        &:hover {
            box-shadow: 0px 3px 5px var(--black-050);
        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 8px;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    font-family: "Silkscreen";
                    font-size: 14px;
                    width: 130px;
                    text-align: center;

                    &:hover {
                        box-shadow: 0px 3px 5px var(--black-050);
                    }
                }

                .button-one {
                    background-color: var(--black-050);
                    color: var(--white-100);
                    border-radius: 20px 5px 5px 20px ;
                    /* border: 2px solid var(--black-200); */
                    padding: 10px 30px;
                }

                .button-two {
                    color: var(--white-100);
                    background: linear-gradient(-50deg, var(--orange-100), var(--black-050), var(--black-050));
                    border-radius: 5px;
                    padding: 10px 30px;
                }

                .button-three {
                    color: var(--black-050);
                    background-color: var(--orange-400);
                    border-radius: 5px 20px 20px 5px;
                    padding: 10px 30px;
                }
            }
        }

        .mobile-toggle {
            display: none;
            color: var(--black-200);
            padding: 10px;

            @media (max-width: 790px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 790px) {
        flex-direction: column;

        nav {
            width: 100%;

            ul {
                display: none;
                width: 100%;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                    margin-top: 10px;
                    justify-content: center
                }
            }
        }
    }
}

main {

    .container {
        margin: auto;
        margin-top: 125px;
        max-width: 600px;
        background-color: var(--black-050);
        /* border: 6px solid var(--black-050); */
        padding: 50px 0px;
        border-radius: 5px;

        .my-name {
            
            font-family: "Silkscreen";
            text-align: center;
            
            margin: 0px 80px;
            /* background-color: var(--opct-white-200); */

            h1 {
                text-align: center;
                font-size: 50px;
                color: var(--opct-white-500);
                
            }

            h2 {
                font-size: 20px;
                font-weight: 200;
                color: var(--opct-white-200);
                
                
            }

            
        }

        .description {
            
            border-radius: 5px;
            padding: 30px 0px;

            p {
                background-color: var(--black-100);
                border-left: 5px solid var(--blue-400);
                border-radius: 0px 5px 5px 0px;
                font-family: "IBM PLex Mono", monospace;
                font-weight: 300;
                color: var(--opct-white-500);
                text-align: left;
                margin: 0px 80px;
                padding: 20px 20px 40px 25px;
                height: 200px;
            }
        }
    }
}