*, *::before, *::after {
    /* Base-config */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* defining color variables */
    --black-100: #1c1c1c;
    --black-200: #282828;
    --orange-100: #fe8019;
    --white-100: #f5eee6;
}

body {
    /* font stuff */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(90deg, var(--black-100), var(--black-200));
}

a {
    text-decoration: none;
}

header {
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    backdrop-filter: blur(5px);
    background: radial-gradient(at 50% 0%, #00000000, #ffffff0d);
    border-radius: 0px 0px 10px 10px;
    /* position: fixed; */

    nav {
        display: flex;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: var(--white-100);
            background-color: var(--black-200);
            height: 60px;
            width: 60px;
            border-radius: 50%;
            margin-right: 20px;
            font-family: "Handjet";
        }
        
        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;

            li {
                display: inline-block;

                a{
                    display: inline-block;
                    font-family: "Silkscreen";
                    font-size: 14px;

                    &:hover {
                        text-decoration: none;
                    }
                }

                .button-one {
                    color: var(--black-100);
                    background-color: var(--white-100);
                    border-radius: 20px;
                    border: 2px solid var(--black-100);
                    padding: 8px 30px;
                }

                .button-two {
                    color: var(--white-100);
                    background: linear-gradient(-20deg, var(--orange-100), var(--black-100), var(--black-100));
                    border-radius: 5px;
                    padding: 10px 30px;
                }

                .button-three {
                    color: var(--black-100);
                    background-color: var(--orange-100);
                    border-radius: 20px;
                    padding: 10px 30px;
                }
            }
        }

        .mobile-toggle {
            display: none;
            color: black;
            padding: 10px;

            @media (max-width: 768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }
    }

    @media (max-width: 1024px) {
        /* flex-direction: column;
        align-items: center; */
    }

    @media (max-width: 768px) {
        /* flex-direction: column;
        align-items: center; */

        nav {
            margin-top: 10px;
            width: 100%;

            ul {
                display: none;
                /* flex-direction: column;
                text-align: center; */
                width: 100%;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}